body {
    background-color: black;
}
h1{
    text-align: center;
    color: white;
    font-size: 3rem;
    font-family: 'Mulish', sans-serif;;
}
p{
    text-align: center;
    color: white;
    font-size: 2rem;
}
img {
    height: 40%;
    width: 100%;
}
div {
    width: 50%;
    margin-left: 25%;
}
